@import 'node_modules/coffeekraken-sugar/index';

@include s-setup(());
@include s-init();
@include s-classes();

body {
	padding: s-space(bigger);
}

.s-countdown-digit-container {
  position: relative;
  perspective: 700px;
}

@keyframes digit-in {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}
.s-countdown-digit {
  animation: digit-in .6s cubic-bezier(1,0,0,1) forwards 0s;
}

@keyframes digit-out {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg);
  }
}
.s-countdown-digit--out {
  animation: digit-out .4s cubic-bezier(1,0,0,1) forwards 0s;
}
